<h2>Welcome to Twitter</h2>
	<div class="span9">
		<div class="well">

<p>Twitter is an online social networking and microblogging service that enables users to send and read "tweets", which are text messages limited to 140 characters. Registered users can read and post tweets, but unregistered users can only read them. Users access Twitter through the website interface, SMS, or mobile device app.</p>
		</div>
</div>